spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/currency_exchange_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
