# IDE
*.swp

# Environment
.env
.env.local

# Logs
*.log
/docs
!/docs/IMPLEMENTATION_GUIDE.md

# ========================
# SYSTEMOWE (OSX / Windows)
# ========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# ========================
# BACKEND (Java / Spring Boot)
# ========================
backend/target/
backend/**/*.class
backend/.mvn/wrapper/maven-wrapper.properties
backend/mvnw
backend/mvnw.cmd
backend/help.md
*.jar
*.war

# ========================
# MOBILE
# ========================

# Node modules 
node_modules/
npm-debug.log
yarn-error.log

# Android
mobile/android/build/
mobile/android/.gradle
mobile/android/local.properties
*.keystore
!debug.keystore

# iOS
mobile/ios/Pods/
mobile/ios/build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle
