spring:
  application:
    name: currency-exchange-api
  
  profiles:
    active: dev

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8080

springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /api/swagger-ui.html

logging:
  level:
    root: INFO
    pl.aeh.currencyexchange: DEBUG
